.cadErroContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cadNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#breadcrumb {
    margin-left: 10px;
}